.transition-flip-x{
  @include slide-transition;
  transform-origin: 50% 50%;
  &.expand-enter {
    transform: rotateX(-90deg);
  }
  &.expand-leave {
    transform: rotateX(90deg);
  }
}
.transition-flip-y{
  @include slide-transition;
  transform-origin: 50% 50%;
  &.expand-enter {
    transform: rotateY(-90deg);
  }
  &.expand-leave {
    transform: rotateY(90deg);
  }
}