  #left {
    float: left;
    width: 24%;
    border-right: 1px solid black;
    height: 500px;
 }
 .play-control {
   height: 150px;
   text-align: center;
   padding: 30px 0 0;
}
.control-button {
  width: 100px;
  height: 30px;
  background-color: white;
}
.play-control-block {
  height: 50px;
}
.control-replay {
  border: 1px solid #D2143D;
  font-size: 13px;
  font-weight: 600;
}
.control-play {
  border: 1px solid #D2143D;
  font-size: 13px;
  font-weight: 600;
}
.control-connect {
  border: 1px solid #D2143D;
  font-size: 13px;
  font-weight: 600;
}
.control-save {
  border: 1px solid #D2143D;
  font-size: 13px;
  font-weight: 600;
}
.control-add {
  float: right;
  margin-right: 20px; 
}
.play-list {
  height: 380px;
  overflow-y: scroll;
}
.play-list-title {
  width: 100%;
  line-height: 26px;
  background: #E8E8E8;
  border-bottom: 1px solid #ccc;
}
.current-page {
  background: #ccc;
}