  $scaleValue: 768 / 500;
  *{
    padding: 0;
    margin: 0;
  }
  body{
    overflow: hidden;
  }
@import 'header';
@import 'control';
@import 'slide';
@import 'edit';
@import 'slide-animate/index';