* {
  padding: 0;
  margin: 0; }

body {
  overflow: hidden; }

#left {
  float: left;
  width: 24%;
  border-right: 1px solid black;
  height: 500px; }

.play-control {
  height: 200px;
  text-align: center;
  padding: 130px 0 0; }

.control-button {
  width: 100px;
  height: 30px;
  margin-right: 20px; }

.play-list {
  height: 250px;
  overflow-y: scroll; }

.play-list-title {
  width: 100%;
  line-height: 26px;
  background: #E8E8E8;
  border-bottom: 1px solid #ccc; }

.current-page {
  background: #ccc; }

#right {
  float: right;
  width: 75%;
  height: 500px; }

#play-wrap {
  padding: 20px;
  background: #F2F2F2; }
  #play-wrap:-webkit-full-screen {
    background: black;
    padding: 0; }

#play-slide {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 890px;
  overflow: hidden;
  -webkit-perspective: 1000px; }

.slide {
  box-sizing: border-box;
  position: absolute;
  padding: 5px;
  width: 100%;
  height: 100%;
  background: white; }

:-webkit-full-screen #play-slide {
  -webkit-transform: scale(1.536); }

.elem {
  display: block;
  margin: 0 auto;
  border: 1px solid #cccccc; }

:-webkit-full-screen .elem {
  border: none;
  background: transparent; }

.elem-editing {
  border-color: blue; }

.header {
  margin: 70px auto 0;
  width: 600px;
  height: 60px;
  line-height: 60px; }

.header-elem {
  font-size: 3em;
  text-align: center; }

.content {
  margin-top: 20px;
  width: 600px;
  height: 250px;
  line-height: 1.2; }

.content-elem {
  box-sizing: border-box;
  padding: 10px;
  font-size: 2em; }

.text-elem {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none; }

.elem-bar {
  transform: translateZ(1px);
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 5px; }

.elem-bar-move {
  margin: -5px;
  float: left;
  background: red;
  cursor: move; }

.elem-bar-remove {
  margin: -5px;
  float: right;
  background: red; }

.elem-bar-size {
  margin: -8px -6px;
  float: right;
  background: blue;
  cursor: nw-resize; }

:-webkit-full-screen .elem-size-bar, :-webkit-full-screen .elem-move-bar {
  display: none; }

.media {
  position: absolute;
  left: 0px;
  top: 0px; }

#play-edit {
  height: 80px; }

.transition-normal {
  transition: all .8s ease .4s; }
  .transition-normal.expand-enter {
    opacity: 0; }
  .transition-normal.expand-leave {
    transition-delay: 0;
    opacity: 0; }

.transition-normal-big {
  transition: all .8s ease .4s;
  transform-origin: 50% 50%; }
  .transition-normal-big.expand-enter {
    opacity: 0; }
  .transition-normal-big.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-normal-big.expand-enter {
    transform: scale(1.5); }
  .transition-normal-big.expand-leave {
    transform: scale(1.5); }

.transition-normal-small {
  transition: all .8s ease .4s; }
  .transition-normal-small.expand-enter {
    opacity: 0; }
  .transition-normal-small.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-normal-small.expand-enter {
    transform: scale(0); }
  .transition-normal-small.expand-leave {
    transform: scale(0); }

.transition-rotation-corner {
  transition: all .8s ease .4s;
  transform-origin: 0 0; }
  .transition-rotation-corner.expand-enter {
    opacity: 0; }
  .transition-rotation-corner.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-rotation-corner.expand-enter, .transition-rotation-corner.expand-leave {
    transform: rotateZ(180deg); }
  .transition-rotation-corner.expand-leave {
    transform: rotateZ(-180deg); }

.transition-rotation-center {
  transition: all .8s ease .4s;
  transform-origin: 50% 50%; }
  .transition-rotation-center.expand-enter {
    opacity: 0; }
  .transition-rotation-center.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-rotation-center.expand-enter, .transition-rotation-center.expand-leave {
    transform: scale(0);
    transform: rotateZ(360deg); }
  .transition-rotation-center.expand-leave {
    transform: scale(0);
    transform: rotateZ(-360deg); }

.transition-rotation-left {
  transition: all .8s ease .4s;
  transform-origin: 0 0; }
  .transition-rotation-left.expand-enter {
    opacity: 0; }
  .transition-rotation-left.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-rotation-left.expand-enter, .transition-rotation-left.expand-leave {
    transform: rotateY(-90deg); }
  .transition-rotation-left.expand-leave {
    transform: rotateY(90deg); }

.transition-rotation-right {
  transition: all .8s ease .4s;
  transform-origin: 100% 0; }
  .transition-rotation-right.expand-enter {
    opacity: 0; }
  .transition-rotation-right.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-rotation-right.expand-enter, .transition-rotation-right.expand-leave {
    transform: rotateY(90deg); }
  .transition-rotation-right.expand-leave {
    transform: rotateY(-90deg); }

.transition-rotation-top {
  transition: all .8s ease .4s;
  transform-origin: 0 0; }
  .transition-rotation-top.expand-enter {
    opacity: 0; }
  .transition-rotation-top.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-rotation-top.expand-enter, .transition-rotation-top.expand-leave {
    transform: rotateX(90deg); }
  .transition-rotation-top.expand-leave {
    transform: rotateX(-90deg); }

.transition-rotation-bottom {
  transition: all .8s ease .4s;
  transform-origin: 0 100%; }
  .transition-rotation-bottom.expand-enter {
    opacity: 0; }
  .transition-rotation-bottom.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-rotation-bottom.expand-enter, .transition-rotation-bottom.expand-leave {
    transform: rotateX(-90deg); }
  .transition-rotation-bottom.expand-leave {
    transform: rotateX(90deg); }

.transition-flip-x {
  transition: all .8s ease .4s;
  transform-origin: 50% 50%; }
  .transition-flip-x.expand-enter {
    opacity: 0; }
  .transition-flip-x.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-flip-x.expand-enter {
    transform: rotateX(-90deg); }
  .transition-flip-x.expand-leave {
    transform: rotateX(90deg); }

.transition-flip-y {
  transition: all .8s ease .4s;
  transform-origin: 50% 50%; }
  .transition-flip-y.expand-enter {
    opacity: 0; }
  .transition-flip-y.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-flip-y.expand-enter {
    transform: rotateY(-90deg); }
  .transition-flip-y.expand-leave {
    transform: rotateY(90deg); }

.transition-slide-left {
  transition: all .8s ease .4s; }
  .transition-slide-left.expand-enter {
    opacity: 0; }
  .transition-slide-left.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-slide-left.expand-enter {
    transform: translateX(-100%); }
  .transition-slide-left.expand-leave {
    transform: translateX(100%); }

.transition-slide-right {
  transition: all .8s ease .4s; }
  .transition-slide-right.expand-enter {
    opacity: 0; }
  .transition-slide-right.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-slide-right.expand-enter {
    transform: translateX(100%); }
  .transition-slide-right.expand-leave {
    transform: translateX(-100%); }

.transition-slide-top {
  transition: all .8s ease .4s; }
  .transition-slide-top.expand-enter {
    opacity: 0; }
  .transition-slide-top.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-slide-top.expand-enter {
    transform: translateY(-100%); }
  .transition-slide-top.expand-leave {
    transform: translateY(100%); }

.transition-slide-bottom {
  transition: all .8s ease .4s; }
  .transition-slide-bottom.expand-enter {
    opacity: 0; }
  .transition-slide-bottom.expand-leave {
    transition-delay: 0;
    opacity: 0; }
  .transition-slide-bottom.expand-enter {
    transform: translateY(100%); }
  .transition-slide-bottom.expand-leave {
    transform: translateY(-100%); }
