.transition-rotation-corner{
  @include slide-transition;
    transform-origin: 0 0;
  &.expand-enter, &.expand-leave {
    transform: rotateZ(180deg);
  }
  &.expand-leave {
    transform: rotateZ(-180deg);
  }
}

.transition-rotation-center{
  @include slide-transition;
    transform-origin: 50% 50%;
  &.expand-enter, &.expand-leave {
    transform: scale(0);
    transform: rotateZ(360deg);
  }
  &.expand-leave {
    transform: scale(0);
    transform: rotateZ(-360deg);
  }
}

.transition-rotation-left{
  @include slide-transition;
    transform-origin: 0 0;
  &.expand-enter, &.expand-leave {
    transform: rotateY(-90deg);
  }
  &.expand-leave {
    transform: rotateY(90deg);
  }
}

.transition-rotation-right{
  @include slide-transition;
    transform-origin: 100% 0;
  &.expand-enter, &.expand-leave {
    transform: rotateY(90deg);
  }
  &.expand-leave {
    transform: rotateY(-90deg);
  }
}

.transition-rotation-top{
  @include slide-transition;
    transform-origin: 0 0;
  &.expand-enter, &.expand-leave {
    transform: rotateX(90deg);
  }
  &.expand-leave {
    transform: rotateX(-90deg);
  }
}

.transition-rotation-bottom{
  @include slide-transition;
    transform-origin: 0 100%;
  &.expand-enter, &.expand-leave {
    transform: rotateX(-90deg);
  }
  &.expand-leave {
    transform: rotateX(90deg);
  }
}

